.samples img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s, height 0.5s;
    display: block;
    margin-left: 60vw;
    position: absolute;
}

.samples h1 {
    right: 5%;
}

.samples:hover img {
    height: 65%;
}

.samples .text {
    top: 30%;
    transform: translateX(-35%);
}

.studies img{
    top: 30%;
    height: 60%;
    opacity: 1;
    transition: left 0.5s, height 0.5s;
    display: block;
    margin-left: 5vw;
    position: absolute;
    background-color: white;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
}

.studies h1 {
    left: 10%;
}

.studies .text {
    top: 30%;
    transform: translateX(48%);
}

.studies:hover img {
    height: 65%;
}

.panels img{
    top: 30%;
    height: 40%;
    opacity: 1;
    transition: opacity 0.5s, top 0.5s, left 0.5s, height 0.5s;
    display: block;
    margin-left: 55vw;
    position: absolute;
}

.panels h1 {
    right: 6%;
}

.panels .text {
    top: 30%;
    transform: translateX(-35%);
}

.composite img{
    top: 15%;
    height: 70%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 15vw;
    
    position: absolute;
}

.composite h1 {
    left: 5%;
}

.composite:hover #fade{
    opacity: 0;
}

.composite .text {
    top: 30%;
    transform: translateX(25%);
}

.reflection img{
    top: 30%;
    width: 15%;
    opacity: 0;
    transition: width 0.5s, opacity 0.5s;
    display: block;
    margin-left: 33vw;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
    position: absolute;
}

.reflection:hover img{
    opacity: 1;
}

.reflection .text {
    top: 30%;
    transform: translateX(54%);
    font-size: 1.2vh;
}

.panels:hover img {
    height: 15%;
}

.panels:hover #a {
    top: 0%;
}

.panels:hover #b {
    top: 15%;
}

.panels:hover #c {
    top: 30%;
}

.panels:hover #d {
    top: 45%;
}

.panels:hover #e {
    top: 60%;
}

.panels:hover #f {
    top: 75%;
}

.panels:hover #g {
    top: 90%;
}

.panels:hover #aa {
    top: 0%;
    left: 4%
}

.panels:hover #bb {
    top: 15%;
    left: 4%
}

.panels:hover #cc {
    top: 30%;
    left: 4%
}

.panels:hover #dd {
    top: 45%;
    left: 4%
}

.panels:hover #ee {
    top: 60%;
    left: 4%
}

.panels:hover #ff {
    top: 75%;
    left: 4%
}

.panels:hover #gg {
    top: 90%;
    left: 4%
}

.panels:hover #aaa {
    top: 0%;
    left: 8%
}

.panels:hover #bbb {
    top: 15%;
    left: 8%
}

.panels:hover #ccc {
    top: 30%;
    left: 8%
}

.panels:hover #ddd {
    top: 45%;
    left: 8%
}

.panels:hover #eee {
    top: 60%;
    left: 8%
}

.panels:hover #fff {
    top: 75%;
    left: 8%
}

.panels:hover #ggg {
    top: 90%;
    left: 8%
}
