.photos img{
    top: 40%;
    height: 25%;
    opacity: 1;
    transition: opacity 0.5s, top 0.5s, left 0.5s, right 0.5s, bottom 0.5s;
    display: block;
    margin-left: 60vw;
    position: absolute;
}

.photos h1 {
    right: 5%;
}

.photos .text {
    transform: translateX(-24%);
}


.layout img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 15vw;
    position: absolute;
}

.layout h1 {
    left: 8%;
}

.drawings img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 55vw;
    position: absolute;
}

.drawings h1 {
    right: 5%;
}

.drawings .text {
    top: 35%;
    transform: translateX(-28%);
}

.axo img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 15vw;
    
    position: absolute;
}

.axo h1 {
    left: 8%;
}

.axo .text {
    top: 30%;
    transform: translateX(38%);
}

#lines {
    opacity: 0;
}
.photos:hover #a {
    top: 0%;
}

.photos:hover #b {
    top: 25%;
}

.photos:hover #c {
    top: -25%;
}

.photos:hover #d {
    top: 50%;
}

.photos:hover #e {
    top: 75%;
}

.photos:hover #f {
    top: 100%;
}

.layout:hover #lines{
    opacity: 1;
}

.drawings:hover #lines{
    opacity: 1;
}

