.photos img{
    top: 40%;
    height: 25%;
    opacity: 1;
    transition: opacity 0.5s, top 0.5s, left 0.5s, right 0.5s, bottom 0.5s;
    display: block;
    margin-left: 60vw;
    position: absolute;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.1);
}

.photos h1 {
    right: 5%;
}

.photos .text {
    top: 30%;
    transform: translateX(-24%);
}


.layout img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 15vw;
    position: absolute;
}

.layout h1 {
    left: 8%;
}

.layout .text {
    top: 30%;
    transform: translateX(40%);
}


.drawings img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 55vw;
    position: absolute;
}

.drawings h1 {
    right: 5%;
}

.drawings .text {
    top: 30%;
    transform: translateX(-30%);
}

.axo img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 15vw;
    
    position: absolute;
}

.axo h1 {
    left: 8%;
}

.axo .text {
    top: 30%;
    transform: translateX(38%);
}
.reflection img{
    top: 30%;
    width: 15%;
    opacity: 0;
    transition: width 0.5s, opacity 0.5s;
    display: block;
    margin-left: 33vw;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
    position: absolute;
}

.reflection:hover img{
    opacity: 1;
}

.reflection .text {
    top: 30%;
    transform: translateX(54%);
    font-size: 1.2vh;
}
.photos:hover #a {
    top: 0%;
}

.photos:hover #b {
    top: 25%;
}

.photos:hover #c {
    top: -25%;
}

.photos:hover #d {
    top: 50%;
}

.photos:hover #e {
    top: 75%;
}

.photos:hover #f {
    top: 100%;
}

.layout:hover #lines{
    opacity: 1;
}

.drawings:hover #lines{
    opacity: 1;
}

