.elevations img{
    top: 40%;
    height: 30%;
    opacity: 1;
    transition: opacity 0.5s, top 0.5s, left 0.5s, right 0.5s, bottom 0.5s;
    display: block;
    margin-left: 60vw;
    position: absolute;
}

.elevations h1 {
    right: 5%;
}


.drawings img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: left 0.5s;
    display: block;
    margin-left: 20vw;
    position: absolute;
}

.drawings h1 {
    left: 5%;
}

.illustrator img{
    top: 20%;
    height: 50%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 60vw;
    position: absolute;
    background-color: white;
    margin-top: 4%;
    padding: 1%;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
}

.illustrator h1 {
    right: 5%;
}

.illustrator .text {
    top: 30%;
    transform: translateX(-30%);
}

.render img{
    top: 15%;
    height: 80%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 20vw;
    
    position: absolute;
}

.render h1 {
    left: 5%;
}

.drawings:hover #a {
    left: -5%;
}

.drawings:hover #b {
    left: 10%;
}

.r {
    margin-left: 20%;
}

.illustrator:hover #fade {
    opacity: 0;
}