.city img{
    top: 30%;
    height: 50%;
    opacity: 1;
    transition: opacity 0.5s, top 0.5s, left 0.5s, right 0.5s, bottom 0.5s, height 0.5s;
    display: block;
    margin-left: 60vw;
    position: absolute;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
}

.city h1 {
    right: 5%;
}

.city:hover img {
    height: 60%;
}

.city .text {
    top: 30%;
    transform: translateX(-28%);
}


.model img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 10vw;
    position: absolute;
}

.model:hover #fade {
    opacity: 0;
}

.model h1 {
    left: 5%;
}

.model .text {
    top: 30%;
    transform: translateX(28%);
}

.renders img{
    top: 15%;
    height: 40%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 60vw;
    position: absolute;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
}

.renders h1 {
    right: 4%;
}

.renders .text {
    top: 30%;
    transform: translateX(-28%);
}


.iso img{
    top: 15%;
    height: 100%;
    opacity: 1;
    transition: height 0.5s, margin-left 0.5s;
    display: block;
    margin-left: 10vw;
    position: absolute;
}

.iso h1 {
    left: 5%;
}

.iso .text {
    top: 30%;
    transform: translateX(28%);
}

.iso:hover img {
    height: 110%;
    margin-left: 8vw;
}


.reflection img{
    top: 30%;
    width: 20%;
    opacity: 0;
    transition: width 0.5s, opacity 0.5s;
    display: block;
    margin-left: 30vw;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
    position: absolute;
}

.reflection:hover img{
    opacity: 1;
}

.reflection .text {
    top: 30%;
    transform: translateX(58%);
    font-size: 1.2vh;
}

.r img{
    top: 55%;
}

.renders:hover #fade {
    opacity: 0;
}