
@font-face {
    font-family: VulfSans;
    src: url("font/VulfSansDemo-Regular.otf") format("opentype");
}

@font-face {
    font-family: VulfSans;
    font-weight: bold;
    src: url("font/VulfSansDemo-Bold.otf") format("opentype");
}

@font-face {
    font-family: VulfMono;
    font-weight: black;
    src: url("font/VulfMonoDemo-Black.otf") format("opentype");
}

* {
  font-family: VulfSans;
}


html,
body {
  height: 100%;
  overflow: hidden;
}

.Loop {
  position: relative;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

section {
  position: relative;
  text-align: center;
  min-height: 300px;
  max-height: 700px;
  height: 80%;
}

::scrollbar {
  display: none;
}

body {
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 100%;
}

.back {
    height: 100vh;
    width: 100vw;
    /* background: transparent radial-gradient(at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%), rgb(226, 226, 226), #ffffff) no-repeat 0 0; */
    background-position:center;
    position: fixed;
}

#front {
    filter: sepia(100%) saturate(100%) brightness(100%) hue-rotate(calc(var(--mouse-y, 0) * 50deg - 50deg));

}

.mod1 img{
    top: 35%;
    max-height: 30%;
    max-width: 20%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 20vw;
    position: absolute;
}

.mod2 img{
    top: 20%;
    height: 60%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 62vw;
    position: absolute;
}

.mod3 img{
    top: 30%;
    height: 40%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 22vw;
    position: absolute;
}

.mod4 img{
    top: 20%;
    height: 70%;
    opacity: 1;
    transition: opacity 0.5s;
    display: block;
    margin-left: 57vw;

    position: absolute;
}

section :hover #front{
    opacity: 0;
}

/* .mod2 img:hover{
    opacity: 0;
}

.mod3 img:hover{
    opacity: 0;
}

.mod4 img:hover{
    opacity: 0;
} */

.zen {
    font-size: calc(8vh + (var(--mouse-x, 0)*0.5vh) - (var(--mouse-y, 0)*0.5vh));
    top: 2.5%;
    right: 5%;
    position: absolute;
}

.fodr {
    font-weight: normal;
    font-size: calc(4vh - (var(--mouse-x, 0)*0.2vh) + (var(--mouse-y, 0)*0.2vh));
    bottom: 2.5%;
    left: 2.55%;
    position: absolute;
}

h1 {
    font-family: VulfMono;
    font-weight: black;
    font-size: 5vh;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    transition: font-size 0.5s, top 0.5s;
}

.mod1 h1 {
    left: 5%;
}
.mod2 h1 {
    right: 5%;
}
.mod3 h1 {
    left: 5%;
}
.mod4 h1 {
    right: 5%;
}

#top {
    color: rgba(255, 0, 0, 0.562);
    top: 40%;
}

#mid {
    color: white;
}

#bot {
    color: rgba(255, 115, 0, 0.781);
    top: 60%;
}

#top-up {
    color: rgba(255, 0, 0, 0.562);
    top: 40%;
}

#mid-up {
    color: white;
}

#bot-up {
    color: rgba(255, 115, 0, 0.781);
    top: 60%;
}

.text {
    opacity: 0;
    transition: opacity 0.5s;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40vw;
    margin-right: 40vw;
    text-align: justify;
    background-color: white;
    padding: 2%;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
}

.title :hover {
    top: 50%;
}

section:hover #top{
    top: 50%;
}

section:hover #bot{
    top: 50%;
}

section:hover #top-up{
    top: 15%;
}

section:hover #mid-up{
    top: 15%;
}

section:hover #bot-up{
    top: 15%;
}

section:hover .text {
    opacity: 1;
}

.middle {
    background: rgb(255,165,130);
    background: linear-gradient(0deg, rgba(255,165,130,1) 0%, rgba(255,203,203,1) 100%);
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
    position: absolute;
    overflow-x: hidden;
    width: 40vw;
    height: 150vh;
    margin-left: 30vw;
    margin-right: 30vw;

}

.back1 {
    transform: rotate(60deg); 
    background: rgb(255,165,130);
    background: linear-gradient(0deg, rgba(255,165,130,1) 0%, rgba(255,203,203,1) 100%);
    filter: hue-rotate(calc(var(--mouse-y, 0) * 100deg - 70deg));
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
    position: absolute;
    overflow-x: hidden;
    width: 50vw;
    height: 200vh;
    margin-left: 45vw;
}

.back2 {
    transform: rotate(70deg); 
    background: rgb(255,165,130);
    background: linear-gradient(0deg, rgba(255,165,130,1) 0%, rgba(255,203,203,1) 100%);
    filter: hue-rotate(calc(var(--mouse-y, 0) * -60deg + 30deg));
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.3);
    position: absolute;
    overflow-x: hidden;
    width: 50vw;
    height: 250vh;
    left: 40vw;
}
